/***** Paramètres de départ *****/
/***** Fonts *****/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/* Nunito : 
- ExtraLight: 200
- Light: 300
- Regular: 400
- SemiBold: 600
- Bold: 700
*/

:root {
    --white: #fff;
    --light-white: #f9f9f9;
    --grey: #666;
    --blue: #2836f0;
    --orange: #ff9f1a;
    --red: #f02525;
    --black: #303233;

    --percent50: 50%;
    --percent100: 100%;

    --fw2: 200;
    --fw3: 300;
    --fw4: 400;
    --fw6: 600;
    --fw7: 700;

    --transition: all 0.2s linear;
}

* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    border: none;
    outline: none;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

section {
    padding: 2rem 9%;
}

.heading {
    padding: 1rem;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
}

.heading span {
    text-transform: uppercase;
    color: var(--orange);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent; /* pour retirer le surlignage. ⚠ : ne fonctionne pas sur Firefox ni Safari */
}

ul {
    list-style: none;
}

img {
    max-width: var(--percent100);
    vertical-align: middle;
}

input {
    font: inherit;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    font-weight: var(--fw6);
    color: var(--black);
    background-color: var(--white);
    border: 0.2rem solid var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover {
    color: var(--white);
    background-color: var(--black);
}

/***** Accueil *****/
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    background-color: var(--white);
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 2.5rem;
    color: var(--black);
}

header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: var(--black);
}
header .navbar a:hover {
    color: var(--orange);
}

header .icons a {
    margin-left: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}
header .icons a:hover {
    color: var(--orange);
}

#menu-bar {
    display: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    color: var(--black);
    border: 0.1rem solid var(--black);
    border-radius: 0.3rem;
}

/***** Contenu principal *****/
.home {
    position: relative;
    padding: 0;
}

.home .slide-container .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    gap: 1.5rem;
    padding: 0 9%;
    padding-top: 9rem;
}

.home .slide-container .slide .content {
    flex: 1 1 40rem;
    animation: slideContent .5s linear 1s backwards;
}

.home .slide-container .slide .content span {
    font-size: 2rem;
    color: var(--orange);
}

.home .slide-container .slide .content h3 {
    font-size: 5rem;
    color: var(--black);
}

.home .slide-container .slide .content p {
    padding: 0.5rem 0;
    font-size: 1.7rem;
    color: var(--grey);
}

.home .slide-container .slide .image {
    flex: 1 1 50rem;
    position: relative;
    padding-bottom: 15rem;
    z-index: 0;
}

.home .slide-container .slide .image .shoe {
    width: 100%;
    transform: rotate(-35deg);
    animation: shoe .4s linear;
}

.home .slide-container .slide .image .text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: shoeText .5s linear .5s backwards;
}

.home .slide-container:nth-child(1) .slide {
    background-image: url(../assets/images/home-bg-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home .slide-container:nth-child(2) .slide {
    background-image: url(../assets/images/home-bg-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home .slide-container:nth-child(3) .slide {
    background-image: url(../assets/images/home-bg-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home .slide-container {
    display: none;
}
.home .slide-container.active {
    display: block;
}

.home #prev,
.home #next {
    cursor: pointer;
    position: absolute;
    top: var(--percent50);
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 4.5rem;
    color: var(--black);
    border: 0.2rem solid var(--black);
    border-radius: var(--percent50);
    transform: translateY(-50%);
    z-index: 100;
}
.home #prev:hover,
.home #next:hover {
    color: var(--white);
    background-color: var(--black);
}

.home #prev {
    left: 3rem;
}
.home #next {
    right: 3rem;
}

/** Animations Accueil**/
@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
}

@keyframes shoe {
    0% {
        transform: rotate(0deg) scale(.5);
    }
}

@keyframes shoeText {
    0% {
        opacity: 0;
        top: -10rem;
    }
}

/***** Service *****/
.service .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    background-color: var(--light-white);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.service .box-container .box {
    flex: 1 1 30rem;
    text-align: center;
}

.service .box-container .box i {
    font-size: 4rem;
    color: var(--orange);
}

.service .box-container .box h3 {
    padding-top: 1rem;
    font-size: 2rem;
    color: var(--black);
}

.service .box-container .box p {
    padding: 1rem 0;
    font-size: 4rem;
    color: var(--grey);
}

/***** Produits *****/
.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box {
    flex: 1 1 30rem;
    position: relative;
    text-align: center;
    background-color: var(--light-white);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
}

.products .box-container .box .content {
    padding: 1.5rem;
}

.products .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.products .box-container .box .content .price {
    padding: 1rem 0;
    font-size: 2.5rem;
    font-weight: var(--fw4);
    color: var(--black);
}

.products .box-container .box .content .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: var(--orange);
}

.products .box-container .box .content .stars {
    padding-bottom: 1rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: var(--orange);
}

.products .box-container .box img {
    height: 10rem;
    margin: 8rem 2rem;
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.1));
    transition: var(--transition);
}

.products .box-container .box:hover img {
    transform: rotate(-35deg) scale(1.2);
}

.products .box-container .box .icons {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0.5rem;
    left: -10rem;
    transition: var(--transition);
}
.products .box-container .box:hover .icons {
    left: 1rem;
}

.products .box-container .box .icons a {
    width: 5rem;
    height: 4.5rem;
    margin-top: 0.5rem;
    font-size: 2rem;
    line-height: 4.5rem;
    color: var(--black);
    background-color: var(--white);
    border: 0.1rem solid var(--black);
    border-radius: 0.5rem;
}
.products .box-container .box .icons a:hover {
    color: var(--white);
    background-color: var(--black);
}

/***** Responsive *****/
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    #menu-bar {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: var(--percent100);
        left: -120%;
        width: var(--percent100);
        background-color: var(--grey);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }
    header .navbar.active {
        transition: var(--transition);
        left: 0;
    }

    header .navbar a {
        display: block;
        margin: 1.5rem;
        padding: 1.5rem;
        font-size: 1.5rem;
        text-align: center;
        background-color: var(--white);
        border: 0.1rem solid var(--black);
        border-radius: 0.5rem;
    }

    .home .slide-container .slide .image .text {
        width: 60%;
    }

    .home #prev,
    .home #next {
        top: 85%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 50%;
    }

    .home .slide-container .slide .image {
        padding-bottom: 6rem;
    }

    .heading {
        font-size: 3rem;
    }
}